---
apiVersion: v1
kind: Namespace
metadata:
  name: prometheus-operator
  labels:
    toolkit.fluxcd.io/tenant: sre-team
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-operator
  namespace: prometheus-operator
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: prometheus-operator
      interval: 12h
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: prometheus-${default_k8s_cert_name}
  namespace: prometheus-operator
spec:
  secretName: prometheus-${default_k8s_cert_name}
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  dnsNames: ['prometheus.${app_k8s_domain_name}']
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: grafana-${default_k8s_cert_name}
  namespace: prometheus-operator
spec:
  secretName: grafana-${default_k8s_cert_name}
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  dnsNames: ['grafana.${app_k8s_domain_name}']
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: alertmanager-${default_k8s_cert_name}
  namespace: prometheus-operator
spec:
  secretName: alertmanager-${default_k8s_cert_name}
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  dnsNames: ['alertmanager.${app_k8s_domain_name}']
